.avatar {
  border: 2px solid #000;
  margin-right: 5%;
}

.personal_data {
  min-height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(205, 255, 212, 0.5);
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(0, 130, 102);
}
.table caption {
  text-align: left;
}

.table td:first-child {
 width: 150px;
 color: rgb(0, 130, 102, 0.7);
}
